@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Roboto+Mono:wght@300;400;500;600;700&family=Signika+Negative&family=Source+Sans+3:wght@200;300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Roboto+Mono:wght@300;400;500;600;700&family=Signika+Negative&family=Source+Sans+3:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap");

:root {
  --chat-window-primary-color: #4764fc; /* Default background color */
}

.error-message {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;

  background-color: rgb(249, 121, 121);
  font-size: 14px;
  padding: 10px 12px;
  margin: 10px 2px;
  border-radius: 17px;
  max-width: 85%;
  left: 0px;
  color: white;
  border: solid 1.4px white;
  word-spacing: 0.2em;
  line-height: 1.5em;
  color: rgb(245, 245, 245);
}

/* Chat Header Styles */
.chat-header {
  height: 38px;
  background-color: var(--chat-window-primary-color);
  color: white;
  display: flex;
  align-items: center;
  box-sizing: content-box;

  padding: 13px;
  padding-left: 17px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.chat-header > image {
  background-color: white;
  color: #7b7b7b;
  border-radius: 10px;
  padding: 6px;
  margin-right: 10px;
}

.header-info > div,
.header-info > p {
  margin: 0;
  padding: 2px;
  font-size: 11px;
}

.header-info > div {
  font-weight: 500;
  font-size: 15px;
}

.chat-logo {
  background-color: white;
  border-radius: 100px;
  height: 34px;
  width: 34px;
  margin-right: 10px;
}

/* Chat History Styles */
.chat-history {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #111111 #fff;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--chat-window-primary-color);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--chat-window-primary-color) / 2;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f3f3;
  }
}

/* Chat Icon Styles */
.chat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.5s ease-out;
  z-index: 2147483640 !important;

  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.5));
}
.chat-icon > img {
  height: 40px;
  cursor: pointer;
}

/* Chat Window Styles */
.chat-window {
  /* font-family: "Ubuntu", sans-serif; */
  position: fixed;
  height: 65%;
  width: 28%;
  bottom: 35px;
  right: 35px;
  background-color: #f3f3f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgb(17 17 17 / 21%);

  border-radius: 25px;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  z-index: 2147483640 !important;
}

.chat-window:not(.user-message-container):not(.bot-message-container) {
  font-family: "Ubuntu", sans-serif;
}

.intro-message {
  font-size: small;
  color: #5c5c5c;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 6px;
  line-height: 1.5em;
}

/* Message Container Styles */
.message-container {
  height: 76px;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid rgb(43, 43, 43);
  background-color: rgb(250, 250, 250);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/*Link styles  */
a{
  color: var(--chat-window-primary-color);
  font-weight: 500;
  
}

/* Message Input Styles */
.message-input {
  font-size: 13px;
  margin-left: 16px;
  width: 100%;
  padding: 5px;
  border: none;

  background-color: transparent;
  outline: none;
}
.message-input::placeholder {
  color: #a3a3a3;
}

/* User Message Styles */
.user-message-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-message {
  font-family: "Source Sans 3", sans-serif;

  background-color: var(--chat-window-primary-color);
  font-size: 14px;
  padding: 14px 16px;
  margin: 10px 2px;
  border-radius: 17px;
  max-width: 85%;
  color: white;
}

/* Bot Message Styles */
.bot-message {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;

  background-color: #ffffff;
  font-size: 14px;
  padding: 14px 16px;
  margin: 10px 2px;
  border-radius: 17px;
  max-width: 75%;
  left: 0px;
  color: #474747;
  border: solid 1.4px #cfcfcf9d;
  word-spacing: 0.2em;
  line-height: 1.5em;
}

/* Button Styles */
.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

/* Send Button Styles */
.send-button {
  margin: 4px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  transition: all 0.5s ease-out;
  background-color: transparent;
  color: #a3a3a3;
}

.send-button:hover {
  background-color: white;
  color: black;
}

/* Close Button Styles */
.close-button {
  position: absolute;
  padding-right: 30px;
  color: #ffffff;
  font-weight: 200;
  height: 29px;
  width: 29px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  background-color: transparent;
  border-radius: 1000px;
  transition: all 0.5s ease-out;
}

.bot-message-container {
  display: flex;
  align-items: center;
}

.bot-message-icon {
  font-size: 17px;
  background-color: #c2bfbff6;
  border-radius: 100px;
  padding: 6px;
  margin-right: 3px;
}

/* Typing dots */
@keyframes blink {
  50% {
    fill: transparent;
  }
}
.dot {
  animation: 1s blink infinite;
  fill: grey;
}
.dot:nth-child(2) {
  animation-delay: 250ms;
}
.dot:nth-child(3) {
  animation-delay: 500ms;
}

.loader {
  background-color: #f1f1f1;
  border-radius: 17px;
  color: grey;
}

/* Media query for screen widths below 750px */
@media (max-width: 750px) {
  .chat-window {
    width: 57%;
    height: 72%;
  }
}
@media (max-width: 470px) {
  .chat-window {
    width: 66%;
    height: 80%;
  }
}
@media (max-width: 360px) {
  .chat-window {
    width: 98%;
    height: 98%;
    bottom: 3.5px;
    right: 3.5px;
  }
}

.suggestion-strip {
  padding-left: 10px;
  display: flex;
  gap: 6px;
  overflow-x: auto;

  align-items: center;
  justify-items: center;

  white-space: nowrap;
  height: 60px;

  scrollbar-width: auto;

  &::-webkit-scrollbar {
    height: 1px;
    width: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--chat-window-primary-color);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--chat-window-primary-color) / 2;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f3f3;
  }
}

.suggestion_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;

  background-color: white;
  border-radius: 30px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  /* min-width: 30px; */
  border: 0.5px solid gray;
  cursor: pointer;
  white-space: nowrap; /* Prevent line breaks inside suggestion items */
  margin-bottom: 5px; /* Add margin between suggestion items */
}
